.heading {
    font-size: 20px;
}


.container {
    margin: 20px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 85%;
    gap: 20px;
}

.intents_and_outcomes {
    width: 49%;
    border: 2px solid #000046;
    border-radius: 5px;
    padding: 15px;
    background: #f4f6f9;
    align-self: flex-start;
    height: fit-content;
}

.filter_block input::placeholder {
    color: #000046;
    text-overflow: ellipsis !important;
    white-space: nowrap;
  overflow: hidden;
  }

 .filter_block input {
    padding:7px 34px;
    width: 100%;
 }

 .filter_block {
    width: 85%;
    margin: 30px 0;
  }
 