.kpicard_container {
    width: 19%;
    border: 1px solid #c6d2de;
    padding: 20px;
    border-radius: 5px;
    margin: 15px 0;
}

.kpicard_header {
    display: flex;
    justify-content: space-between;
}

.kpicard_header div {
    display: flex;
    margin-bottom: 20px;
}

.kpicard_container .kpicard_header p {
    margin: 0 5px;
}

.prediction_section{
    display: flex;
    justify-content: space-between;
    margin: 5px 0 0 0;
}

.prediction_section p {
    margin-bottom: 0;
}